<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="./tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         backupGlobals="false"
         backupStaticProperties="false"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="ValidatorTests">
            <directory>tests/Validator</directory>
        </testsuite>
    </testsuites>

    <source>
        <exclude>
            <directory suffix=".php">src/Annotation</directory>
            <directory suffix=".php">src/Validator/Phone</directory>
            <file>src/AbstractValidator.php</file>
            <file>src/BootValidatorsListener.php</file>
            <file>src/ConfigProvider.php</file>
            <file>src/ConfigProvider.php</file>
            <file>src/ValidatorChain.php</file>
            <file>src/Validator/CountryPhonePatterns.php</file>
            <file>src/Validator/AbstractPhoneValidator.php</file>
        </exclude>
    </source>
</phpunit>